table {
  width: 100%;
}
.matHeaderCell {
  background-color: hsl(0, 2%, 78%);
}
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
  background-color: red;
  width: 180px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  font-family: "Courier New", Courier, monospace;
  color: white;
}
